.signup-clean {
  background:#f1f7fc;
  padding:80px 0;
}

.signup-clean form {
  max-width:700px;
  width:90%;
  margin:0 auto;
  background-color:#ffffff;
  padding:40px;
  border-radius:4px;
  color:#505e6c;
  box-shadow:1px 1px 5px rgba(0,0,0,0.1);
}



.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color:rgb(125,11,4);
}

a {

    color: rgb(125,11,4);

}
.btn-primary {
    color: #fff;
    background-color:rgb(125,11,4);
    border-color: rgb(125,11,4);
}