.responsive {

  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-size:cover;
  background-position:center;
  margin: 28px;
  padding: 0px;
}


.row {
	margin-top: 300px;
	margin-bottom: auto;
	margin-left: 15px;
	margin-right: 15px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;


}


/* Create four equal columns that sits next to each other */
.column {
	margin-top: 8px;
  flex: 100%;
  max-width: 100%;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  max-width: 100%;
  max-height: 250px;
  align-content: center;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

html { height: 100%; }
body {
    min-height:100%; 
    position:relative; 
    padding-bottom:[footer-height] 
}
.footer-basic { 
    position: absolute; 
    left: 0 ; right: 0; bottom: 0; 
    height:[footer-height] 
}
